.e2-nice-error {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  max-width: calc(var(--maxWidth) - var(--marginRight) - var(--marginLeft));
  margin: 0 auto;
  text-align: center;
  z-index: 999;
  pointer-events: none;
  transform: translateY(0);
  transition-property: top, transform;
  transition-duration: var(--time);
  transition-timing-function: ease-out;

  &_hidden {
    top: 0;
    transform: translateY(-150%);
  }
}
.e2-nice-error-inner {
  display: inline-block;
  vertical-align: top;
  // font-size: var(--noteTextFontSize);
  // line-height: var(--noteTextLineHeight);
  padding: 8px 12px;
  color: var(--errorColor);
  background: var(--windowBackgroundColor);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRadius);
  max-width: 80%;
  pointer-events: all;
}
