.e2-text .lead {
  margin: 0 0 20px 0;
  max-width: 720px;
  font-size: var(--noteLeadFontSize);
  line-height: var(--noteLeadLineHeight);
}

.e2-text .loud {
  font-size: 26px;
  line-height: 34px;
  padding: 10px 0 10px 39px;
  margin: 20px 0 40px;
  border-left: 1px var(--thinRuleColor) solid;
  max-width: 720px;
}

.e2-text .foot {
  margin: 0 0 10px;
  font-family: var(--smallFontFamily);
  font-size: var(--smallFontSize);
  line-height: var(--smallLineHeight);
  max-width: 720px;
}

