<IfModule mod_authz_core.c>
  <FilesMatch ".*">
    Require all denied
  </FilesMatch>
  <FilesMatch "(?i)\.(?:mp4|mov)$">
    Require all granted
  </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
  <FilesMatch ".*">
    Deny from all
  </FilesMatch>
  <FilesMatch "(?i)\.(?:mp4|mov)$">
    Allow from all
  </FilesMatch>
</IfModule>
