:root {
    
  --backgroundColor:             rgb( 241, 243, 242      );
  --backgroundTransparentColor: rgba( 241, 243, 242, .8  );
  --sheetBackgroundColor:       rgba( 215, 224, 221, .8  );

  --foregroundColor:             rgb(  76,  78,  77      );
  --thinRuleColor:              rgba(  76,  78,  77, .2  );

  --headingsColor:               rgb(  76,  78,  77      );
  --headingsUnderlineColor:     rgba(  76,  78,  77, .2  );
  --boldColor:                     var(--headingsColor);
  --boldUnderlineColor:            var(--headingsUnderlineColor);
  --linkColor:                   rgb(  79, 113, 119      );
  --linkUnderlineColor:         rgba(  79, 113, 119, .2  );
  --linkColorVisited:            rgb( 135, 129, 128      );
  --linkUnderlineColorVisited:  rgba( 135, 129, 128, .2  );
  --hoverColor:                  rgb( 135,  23,  25      );
  --hoverUnderlineColor:        rgba( 135,  23,  25, .2  );
  /* --tagColor */
  /* --tagUnderlineColor */
  --adminColor:                  rgb( 112, 192,  32);
  --adminUnderlineColor:        rgba( 112, 192,  32, .12 );
  --engineTextColor:             rgb(  86,  85, 103      );
  --engineTextUnderlineColor:   rgba(  86,  85, 103, .2 );

  --markedTextBackground:        rgb( 255, 242,   0);
  --markedImageBorderColor:      rgb( 255, 242,   0);

  --inputBackgroundColor:        rgb( 255, 255, 255);
  --inputTextColor:              black;
  --offSwitchColor:              var(--foregroundColor);
  --onSwitchColor:               var(--activeColor);

  /* --imageBorderColor */
  /* --disabledColor */
  --activeColor:                    #d66335;
  /* --errorColor */
  /* --verifiedColor */
  /* --currentItemBackgroundColor */
  --windowBackgroundColor:       rgb( 233, 239, 237      );
  /* --unsavedIndicatorColor */
  
  /* to match .likely */
  /* --followButtonBackground: rgba(231,231,231,.8); */
  /* --followButtonHoverBackground: rgba(212,212,212,.8); */
  /* --followButtonTextColor: #000; */

  /* to match .likely-light */
  /* --followButtonBackground: rgba(236,236,236,.16); */
  /* --followButtonHoverBackground: rgba(255,255,255,.48); */
  /* --followButtonTextColor: #fff; */
  
  --marginTop: 48px;
  --marginLeft: 6%;
  --marginRight: 6%;
  --marginTopCompact: 14px;
  --marginLeftCompact: 3%;
  --marginRightCompact: 3%;

  --displayLogoMarginal: none;
  --displayLogo: block;
  --displayLogoCompact: block;

  /* --columnSpacing */

  --logoTop: -8px;
  --blogTitleFontSize: 28px;
  --blogTitleLineHeight: 32px;
  --pageHeadingFontSize: 36px;
  --pageHeadingLineHeight: 42px;
  /* --noteTitleFontSize */
  /* --noteTitleLineHeight */
  /* --noteLeadFontSize */
  /* --noteLeadLineHeight */
  /* --noteTextFontSize */
  /* --noteTextLineHeight */

  /* --mainFontFamily */
  /* --noteMainFontFamily */
  /* --smallFontFamily */

  /* --time */
  /* --timeLong */

}

.e2-text .loud {
  background-color: #fff200;
  font-family: var(--mainFontFamily);
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  max-width: 720px;  
  padding: .4em 0 .8em;
  border: none;
  box-shadow: -0.4em 0 0 #fff200, 0.4em 0 0 #fff200;  
  margin: 20px 0 40px;
}

@media screen and (max-width: 1023px) {
  .e2-text .loud {
    padding: .4em .4em .8em;
    box-shadow: none;
  }
}

.e2-button {
  background: #e5e7e6;
  background: linear-gradient(to bottom, #e9ebea 0%, #e1e3e2 100%);
}

.e2-submit-button {
  background: #e87840;
  background: linear-gradient(to bottom, #f88850 0%, #d86830 100%);
}

.e2-delete-button {
  background: #eaded8;
  background: linear-gradient(to bottom, #f4ece8 0%, #e0d0c8 100%);
}