<IfModule mod_authz_core.c>
  <FilesMatch ^.*$>
    Require all denied
  </FilesMatch>
  <FilesMatch ^.*\.(jpe?g|png|webp|svg|js|css|woff|woff2|eot|ttf|otf)$>
    Require all granted
  </FilesMatch>
</IfModule>


<IfModule !mod_authz_core.c>
  <FilesMatch ^.*$>
    Deny from all
  </FilesMatch>

  <FilesMatch ^.*\.(jpe?g|png|webp|svg|js|css|woff|woff2|eot|ttf|otf)$>
    Allow from all
  </FilesMatch>
</IfModule>